<section data-ng-controller="PlayController">
   <div class="container">
      <div class="">

        <!--
        <h2 translate="PLAY.TITLE">Play</h2>

        <div translate="PLAY.COPY">
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        -->

        <!--
        <div id="game-hud" data-ng-controller="GameController">
          <a href="/#!/" id="game-home"><img src="/img/menu.svg" /></a>
          <img id="game-brand" src="/img/MarcAngeloLogo.svg" />
          <a href="#" id="game-lang">Français</a>
        </div>
        -->

        <div id="game-container"></div>

        <div id="rotation-panel">
          <p>Rotate to Portrait Orientation &amp; tap to continue...</p>
        </div>

      </div>
   </div>
</section>
