<section>
   <div class="container">
      <div class="">
         <h2 translate="PRIVACY.TITLE">Privacy</h2>

         <div translate="PRIVACY.COPY">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iusto laboriosam odit minus sapiente libero amet, nisi nulla rem est numquam necessitatibus vitae nihil ullam veniam quos quod quisquam debitis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt sunt sint repudiandae dolorum possimus harum deleniti earum praesentium quia, officia magnam ea hic debitis nam, nihil voluptatem ipsa blanditiis. Maiores.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga assumenda delectus voluptatem officiis, molestiae ullam error numquam unde. Quod ullam, similique! Culpa minus optio deserunt voluptas illo facere, libero odit.</p>
         </div>
      </div>
   </div>
</section>
