<section class="row" data-ng-controller="AuthenticationController">

	<div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-offset-4 col-md-4">		
		<form data-ng-submit="forgotPassword()" class="signin form-horizontal" autocomplete="off">
			<label> Forgot your password?</label>
			<fieldset>
				<div id="form-error" data-ng-show="error" class="alert alert-danger text-danger">
					<strong data-ng-bind="error"></strong>
				</div>	
				<div id="form-message" data-ng-show="message" class="alert alert-info text-danger">
					<strong data-ng-bind="message"></strong>
				</div>				
		        <div class="form-group">		        
					<label for="email">Email</label>
					<input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				</div>				
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary">Reset Password</button>
				</div>
			</fieldset>
		</form>
	</div>
</section>