<section class="row" data-ng-controller="AuthenticationController">

	<div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-offset-4 col-md-4">
		<form data-ng-submit="newPassword()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div id="form-error" data-ng-show="error" class="alert alert-danger text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				<input type="hidden" data-ng-model="passwordDetails.token"/>
        		<div class="form-group" ng-show="validToken">
					<label for="newPassword">New Password</label>
					<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
				</div>
				<div class="form-group" ng-show="validToken">
					<label for="verifyPassword">Verify Password</label>
					<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
				</div>
				<div class="text-center form-group" ng-show="validToken">
					<button type="submit" class="btn btn-primary">Change Password</button>
				</div>
			</fieldset>
		</form>		
	</div>
</section>